<section class="supplimental">
  <div class="wrapper">
    <h1>Log In</h1>

    <p>
      We recommend logging in with your email using <%= link_to "Mozilla Persona", "https://login.persona.org/" %>.
      Look <%= link_to "here", "https://developer.mozilla.org/en-US/docs/Persona" %> for more details.
    </p>

    <ul id="login">
      <li><%= link_to image_tag('persona_sign_in_blue.png', :title => "Log in via Persona"), '#', :id => 'persona-button' %></li>
    </ul>

    <p>
      Or just log in with your GitHub or Twitter account:
    </p>

    <ul id="login">
      <li><%= link_to "Log in via Github", github_auth_path, :class => 'btn-auth btn-github' %></li>
      <li><%= link_to "Log in via Twitter", twitter_auth_path, :class => 'btn-auth btn-twitter' %></li>
    </ul>
  </div>

  <div class="vertical-expander"></div>
</section>
