<div class="left">
  <a href="#"><img src="{{user.avatar_url}}" alt="{{user.nickanme}}" class="avatar" /></a>
</div>

<div class="right">
  <div>
    <span class="user-name">{{user.nickname}}</span>
    <span class="when">{{created}}</span>
  </div>
  <div class="body">{{body}}</div>
</div>

{{#if show_remove_link}}
<a href="#" class="remove">remove</a>
{{/if}}

<div class="clear"></div>
