<div class="left">
  <a href="{{profile_path}}"><img src="{{user.avatar_url}}" alt="{{user.nickanme}}" class="avatar" /></a>
</div>

<div class="right">
  <div>
    <a href="{{profile_path}}"><span class="user-name">~{{user.nickname}}</span></a>
    <span class="when">{{created}}</span>
    {{#if show_remove_link}}
    | <a href="#" class="remove">remove</a>
    {{/if}}
  </div>
  <div class="body">{{body}}</div>
</div>

<div class="clear"></div>
