<section class="supplimental">
  <div class="wrapper">
    <div class="main">
      <h1>Asciicasts by ~<%= @user.nickname %></h1>

      <%= render :partial => 'asciicasts/previews' %>
      <%= paginate @asciicasts %>

      <% if @asciicasts.size == 0 %>
        <% if current_user && current_user.id == @user.id -%>
          You haven't recorded anything yet.
          <%= link_to 'Record now', docs_path(:record) %>
        <% else -%>
          <%= @user.nickname %> hasn't recorded anything yet.
        <% end -%>
      <% end -%>
    </div>

    <div class="extras">
      <h1><%= @user.nickname %></h1>
      <p><%= @user.avatar_img %></p>
      <h3><%= @user.asciicasts_count %> asciicasts</h3>

      <% if current_user %>
        <p><%= link_to 'Settings', edit_user_path %></p>
      <% end %>
    </div>
  </div>
</section>
