<div class="page-header">
  <h1>
    ~<%= @user.nickname %>
    <%= avatar_img(@user) %> 
  </h1>

  <p class="meta">
    <%= @user.asciicasts.count %> asciicasts
  </p>
</div>

<ul class="asciicasts">
  <%= render :partial => "asciicasts/preview", :collection => @asciicasts, :as => :asciicast %>
</ul>

<%= paginate @asciicasts %>
