<div class="page-header">
  <h1>
    ~<%= @user.nickname %>
    <%= avatar_img(@user) %> 
  </h1>

  <p class="meta">
    <%= @user.asciicasts.count %> asciicasts
  </p>

  <% if current_user %>
    <p><%= link_to 'Settings', edit_user_path %></p>
  <% end %>
</div>

<ul class="asciicasts">
  <%= render :partial => "asciicasts/preview", :collection => @asciicasts, :as => :asciicast %>
</ul>

<%= paginate @asciicasts %>
