<div class="hero-unit home-page">
  <h1>ascii.io</h1>
  <p>No bullshit asciicasting for developers</p>

  <h2>Featured: <%= asciicast_title(@asciicast) %></h2>

  <%= render :partial => 'asciicasts/asciicast',
             :object => @asciicast,
             :locals => { :skip_description => true, :auto_play => false } %>

  <p>
    <%= link_to 'Use it!', installation_path, :class => "btn btn-primary btn-large" %>
    <%= link_to 'Browse', browse_path, :class => "btn btn-large" %>
  </p>

</div>

<h2>Recent asciicasts</h2>

<ul class="asciicasts">
  <%= render :partial => "asciicasts/preview", :collection => @asciicasts, :as => :asciicast %>
</ul>
