<div class="hero-unit home-page">
  <h1>ascii.io</h1>
  <p>No nonsense asciicasting for serious hackers</p>

  <p>
    <a href="https://twitter.com/asciiio">Follow on Twitter</a> |
    <a href="https://github.com/sickill/ascii.io">Contribute on Github</a> |
    <a href="https://twitter.com/sickill">Meet the authors</a>
  </p>
</div>

<div class="hero-unit">
  <h2>What?</h2>

  <p>
    <strong>ascii.io</strong> lets you record your terminal sessions and share
    them with other geeks simply by running <code>asciiio</code> command in your term.
  </p>

  <p>
    It is fully open-source platform with aim of being a "go to" place for terminal users
    wanting to share their hackery. Web based player is an implementation of VT100/VT102
    ANSI terminal, supporting most ANSI sequences, all text attributes and 256 colors.
  </p>
</div>

<div class="hero-unit">
  <h2>See</h2>

  <p>
    "A picture is worth a thousand words" Fred R. Barnard once said.
  </p>
  <p>
    Just watch one of the featured asciicasts and see how cool
    <strong>ascii.io</strong> is.
  </p>

  <div class="featured-asciicast">
    <h3><%= @asciicast.smart_title %></h3>

    <%= render :partial => 'asciicasts/asciicast',
              :object => @asciicast,
              :locals => { :skip_description => true, :auto_play => false } %>

    <div class="clear"></div>
  </div>

  <div class="clear"></div>
</div>

<div class="hero-unit">
  <h2>Use it</h2>

  <% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML) %>
  <%= markdown.render(<<EOS).html_safe
  To install or upgrade **ascii.io** recorder, open a terminal and run following command:

      $ curl -sL get.ascii.io | bash

  (when using zsh you may need to run `rehash` after above command)

  That's it! Now you can start recording your terminal sessions with:

      $ asciiio

  If you want your recordings to be assigned to your ascii.io profile (btw, see mine: [~sickill](/~sickill)) run this
  and follow instructions:

      $ asciiio auth

  See available commands and options with:

      $ asciiio -h
EOS
  %>

  <%# <%= link_to 'See help', manual_path, :class => "btn btn-large" %1> %>
</div>

<div class="hero-unit">
  <h2>Explore</h2>

  <p>
    <%= link_to 'Browse', browse_path %> through
    all recorded asciicasts.
  </p>
</div>
