<section id="about" class="feature">
  <div class="wrapper">
    <div class="primary_info">
      <h1>
        <em>Record Your Terminal</em>
        Share it with no fuss
      </h1>

      <p> ASCII.IO is the simplest way to record your terminal and share
        the recordings with your fellow geeks.  Simply record and upload your
        terminal session with <%= link_to 'single command', docs_path(:record) %>, and
        ASCII.IO will play it back in your browser.  </p>

      <p>
        <%= link_to '&raquo; Start Recording'.html_safe, docs_path(:record) %>
      </p>
    </div>

    <div class="secondary_info">
      <% if @asciicast -%>
        <%= render :partial => 'asciicasts/player',
                  :locals => { :asciicast => @asciicast } %>
      <% end -%>
    </div>
  </div>
</section>

<section class="supplimental">
  <div class="wrapper">
    <div class="main">
      <h1>Recent Asciicasts</h1>
      <%= render :partial => 'asciicasts/previews' %>
    </div>

    <div class="extras">
      <%= render :partial => 'shared/browse_categories' %>
    </div>
  </div>
</section>
