<h1>Info</h1>

<ul class="delimited">
  <li>
    Recorded: <%= time_ago_tag @asciicast.created_at %>
  </li>
  <li>
    Viewed: <%= @asciicast.views_count %> times
  </li>
  <li>
    OS: <%= @asciicast.os %>
  </li>
  <li>
    SHELL: <%= @asciicast.shell %>
  </li>
  <li>
    TERM: <%= @asciicast.terminal_type %>
  </li>
</ul>
