<% if asciicast.private? %>
  <% content_for(:head) do %>
    <meta name="robots" content="noindex, nofollow">
    <meta name="referrer" content="none">
  <% end %>
<% end %>

<div class="player"></div>

<p class="processing-info" style="display: none">
  This recording is being pre-processed at the moment. It will open automatically in a few seconds.
</p>

<script>
  $(function() {
    var asciicast = <%= asciicast.to_json.gsub('</', '<\/').html_safe %>;

    function createPlayer() {
      asciinema.CreatePlayer(
        $('.player')[0],
        asciicast.width, asciicast.height,
        asciicast.stdout_frames_url,
        asciicast.duration,
        {
          snapshot: asciicast.snapshot,
          speed: <%= options.speed %>,
          autoPlay: <%= options.autoplay %>,
          loop: <%= options.loop %>,
          fontSize: '<%= options.size %>',
          theme: '<%= h options.theme %>'
        }
      );
    }

    function tryCreatePlayer() {
      if (asciicast.stdout_frames_url) {
        $('.processing-info').remove();
        createPlayer();
      } else {
        $('.processing-info').show();
        setTimeout(function() {
          $.get('/a/' + asciicast.id + '.json', function(data) {
            asciicast = data;
            tryCreatePlayer();
          });
        }, 2000);
      }
    }

    tryCreatePlayer();
  });
</script>
