<div class="player"></div>
<script>
  $(function() {
    var playerClass = <%= player_class.html_safe %>;
    window.player = new playerClass({
      el: $('.player'),
      cols: <%= cols %>,
      lines: <%= lines %>,
      speed: <%= speed %>,
      benchmark: <%= benchmark %>,
      model: new AsciiIo.Asciicast({ id: <%= asciicast_id %> }),
      containerWidth: <%= container_width || 'null' %>,
      rendererClass: <%= renderer_class.html_safe %>,
      autoPlay: <%= auto_play %>,
      hud: <%= hud %>,
      snapshot: "<%= (j(snapshot)).html_safe %>"
    });
  });
</script>
