<li class="asciicast-preview">
  <%# <div class="thumb"> %>
  <%#   <pre><%= asciicast.thumbnail(20, 8) %1></pre> %>
  <%#   <div class="clear"></div> %>
  <%# </div> %>

  <h3>
    <%= link_to asciicast.smart_title, asciicast %>

    <span class="meta">
      <% if asciicast.user || asciicast.username %>
        by <%= profile_link(asciicast) %>
      <% end %>

      <%= asciicast_time(asciicast) %>
    </span>
  </h3>

  <% if asciicast.description.present? %>
    <p class="description"><%= asciicast.description %></p>
  <% end %>

  <% if asciicast.comments_count > 0 %>
    <p><%= link_to "#{asciicast.comments_count} comments", asciicast_path(asciicast, :anchor => 'comments') %></p>
  <% end %>
</li>
