<section id="presentation" class="feature">
  <div class="asciicast-wrapper">
    <%= player @asciicast %>
  </div>
</section>

<section class="supplimental">
  <div class="wrapper">
    <div class="main">
      <h1><%= @asciicast.title %></h1>
      <div class="description">
        <% if @asciicast.description.present? -%>
          <%= @asciicast.description %>
        <% else -%>
          <em>No description.</em>
        <% end -%>
      </div>
    </div>

    <div class="extras">
      <%= render :partial => 'author' %>
      <%= render :partial => 'actions' %>
      <%= render :partial => 'info' %>
      <%# <%= render :partial => 'share' %1> %>
    </div>
  </div>
</section>
