<section id="presentation" class="feature">
  <div class="asciicast-wrapper">
    <%= player @asciicast %>
  </div>
</section>

<section class="supplimental">
  <div class="wrapper">
    <div class="main">
      <h1><%= @asciicast.title %></h1>

      <div class="description">
        <%= @asciicast.description %>
      </div>

      <%= render :partial => 'other_by_user' %>
    </div>

    <div class="extras">
      <%= render :partial => 'author' %>
      <%= render :partial => 'actions' %>
      <%= render :partial => 'info' %>
    </div>
  </div>
</section>
