<ul class="session-info">
  <% if current_user %>
    <li class="username">
      <%= current_user.img_link(:title => '') %>
      <%= current_user.link(:title => '') %>

      <ul class="menu">
        <li>
          <%= link_to "Settings", edit_user_path, :class => "settings" %>
        </li>
        <li>
          <%= link_to "Log out", logout_path, :class => "logout" %>
        </li>
      </ul>
    </li>

  <% else %>
    <li><%= link_to "Log in", login_path %></li>
  <% end %>
</ul>
