<!DOCTYPE html>
<html>
<head>
  <title>ascii.io</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="all">
    <div id="top">
      <div id="logo">
        <h1>ascii.io</h1>
      </div>
      <div id="menu">
        <ul class="links">
          <% if current_user %>
            <li><%= link_to "Sign out", logout_path %></li>
          <% else %>
            <li><%= link_to "Twitter Sign in", "/auth/twitter" %></li>
            <li><%= link_to "Github Sign in", "/auth/twitter" %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div id="main">
      <%= yield %>
      <div class="clear"></div>
    </div>
  </div>

</body>
</html>
