<!DOCTYPE html>
<html>
<head>
  <title>ascii.io</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= render :partial => 'layouts/current_user_js' %>
  <%= csrf_meta_tags %>
  <%= render :partial => 'layouts/ga' %>
</head>
<body>

  <header>
    <nav>
      <h1>
        <%= link_to "ascii.io", "/", :class => "home" %>
      </h1>
      <%= render :partial => 'layouts/session_info' %>
      <%= render :partial => 'layouts/navigation' %>
    </nav>
  </header>

  <div id="content">
    <% if notice %>
      <p id="notice" class="flash"><%= notice %></p>
      <% elsif alert %>
      <p id="alert" class="flash"><%= alert %></p>
    <% end %>

    <%= yield %>
  </div>

  <footer>
  </footer>
</body>
</html>
