<!DOCTYPE html>
<html>
<head>
  <title>ascii.io</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render :partial => 'layouts/ga' %>
</head>
<body>

  <div id="all">
    <div id="top">
      <div id="logo">
        <h1>ascii.io</h1>
      </div>
      <div id="topnav">
        <%= render :partial => 'layouts/session_info' %>
      </div>
    </div>
    <div id="main">
      <% if notice %>
        <p id="notice" ><%= notice %></p>
        <% elsif alert %>
        <p id="alert" ><%= alert %></p>
      <% end %>

      <%= yield %>

      <div class="clear"></div>
    </div>
  </div>

</body>
</html>
