<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= page_title %></title>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "player", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "player" %>

    <script>
      window.unpackWorkerPath = '<%= javascript_path "unpack_worker" %>';
      window.mainWorkerPath = '<%= javascript_path "main_worker" %>';
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
